<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bad news, <%= @user.firstname %></h1>
    <p>
      You have been removed from RottenMangoes.com,
      your username is: <%= @user.firstname %>.<br>
    </p>
    <p>It's been real.</p>
  </body>
</html>