
<div class="jumbotron">
  <div class="container">
    <div class="row row-centered">
       <h1>Rotten Mangoes</h1>
        <div>
        <p>
          I got a fever, and the only prescription is more cowbell. he hid it in the one place he knew he could hide something: his ass. five long years, he wore this watch up his ass. then, when he died of dysentery, he gave me the watch.</p>
          <p><a class="btn btn-primary btn-lg" href="new_movie_path" role="button">Submit a movie!</a></p>
      </div>
    </div>
  </div>
</div>
       
<div class="row">
  <div class="col-md-12 center-block" id="movie_main">
    <% @movies.order(:title).each do |movie| %>
      <div class="col-md-4">
        <%= render partial: "movie", locals: {movie: movie} %>
      </div>
    <% end %>
  </div>
</div>